github_token       = ""

gmail_user         = ""
gmail_app_password = ""

prefix             = "carclinch"
environment        = "dev"
location           = "eastus2"

# commented out; can configure followup variables for testing
# followup_time_structure = "seconds"
# followup_timer = "90,90,90"

# for windows; mac/linux compatible by default for seeding CosmosDB
# python_cmd = "python"
# pip_cmd    = "pip"

admin_email = ""